.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    background: #e8aebc;
    padding: 20px;
}

.hero img {
    margin-top: 150px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

.hero h1 {
    text-align: center;
    width: 70%;
    font-size: 70px;
    font-weight: 800;
    overflow: hidden;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeSlideIn 1.5s ease-in-out forwards;
  }
  
  .hero h1 span {
    display: inline-block;
    background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeSlideIn 2s ease-in-out forwards;
    animation-delay: 1s; 
  }
  
  /* Animation keyframes */
  @keyframes fadeSlideIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.hero p {
    width: 50%;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}

.hero-action {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 50px;
}

.hero-connect {
    padding: 25px 45px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 100%);
    cursor: pointer;
}

.anchor-link {
    text-decoration: none;
    color: black;
}

.hero-resume {
    padding: 25px 60px;
    border-radius: 50px;
    border: 2px solid #000;
    cursor: pointer;
}

.hero-connect:hover {
    border: 2px solid black;
}

.hero-resume:hover {
    border: 2px solid rgb(165, 33, 165);
}

/* Tablet and smaller devices */
@media (max-width: 768px) {
    .hero img {
        margin-bottom: 120px;
        width: 400px;
        height: 400px;
    }

    .hero h1 {
        margin-top: 50px;
        width: 90%;
        font-size: 50px;
    }

    .hero p {
        margin-top: 50px;
        width: 60%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0;
    }

    .hero-action {
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }

    .hero-connect {
        padding: 20px 30px;
        border-radius: 40px;
    }

    .hero-resume {
        padding: 20px 50px;
        border-radius: 40px;
    }
}


@media (max-width: 480px) {
    .hero img {
        margin-top: 100px;
        width: 300px;
        height: 300px;
    }

    .hero h1 {
        margin-top: 30px;
        width: 90%;
        font-size: 36px;
    }

    .hero p {
        margin-top: 30px;
        width: 80%;
        font-size: 16px;
        line-height: 28px;
        margin: 10px 0;
    }

    .hero-action {
        gap: 12px;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 40px;
    }

    .hero-connect {
        padding: 15px 25px;
        border-radius: 35px;
    }

    .hero-resume {
        padding: 15px 40px;
        border-radius: 35px;
    }
}
